<% content_for :head do %>
<%= javascript_include_tag "jquery-1.8.2.min" %>
<script type="text/javascript">
  $(function(){
    
    $(".nav-tabs li").removeClass("active");
    $(".nav-tabs li :eq(1)").attr("class","active");
  })
</script>
<% end %>
	<div >
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="product?id=<%=@account._id%>"><span>列表 </span></a></li>
		  <li role="presentation"><a href="product_upload?id=<%=@account._id%>"><span>上传 </span></a></li>
		  <li role="presentation" class="active"><a href="#"><span>标签 </span></a></li>
		</ul>
	</div>
	<br>
	<div style="background-color: #f5f5f5;border:1px  solid  #333333; height:300px;" >
    <span class="label label-default">短袖</span>
    <span class="label label-primary">小码</span>
    <span class="label label-success">韩版</span>
    <span class="label label-info">欧美风格</span>
    <span class="label label-warning">时尚</span>
    <span class="label label-danger">流行新款</span>
	</div>
