<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:order_times, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:order_times, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :order_time, url(:order_times, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'order_times/form', :locals => { :f => f } %>
 <% end %>
</div>
