<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:courier_stores, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:courier_stores, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:courier_stores, :edit, :id => @courier_store.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :courier_store, url(:courier_stores, :update, :id => @courier_store.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'courier_stores/form', :locals => { :f => f } %>
  <% end %>
</div>
