<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:back_orders, :index) %></li>
  <li> <%= link_to tag_icon(:plus, pat(:new)), url(:back_orders, :new) %></li>
  <li class="active"> <%= link_to tag_icon(:edit, pat(:edit)), url(:back_orders, :edit, :id => @back_order.id) %></li>
</ul>
<div class="tabs-content">
  <% form_for :back_order, url(:back_orders, :update, :id => @back_order.id), :method => :put, :class => 'form-horizontal' do |f| %>
    <%= partial 'back_orders/form', :locals => { :f => f } %>
  <% end %>
</div>
