<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:back_orders, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:back_orders, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :back_order, url(:back_orders, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'back_orders/form', :locals => { :f => f } %>
 <% end %>
</div>
