<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:image_items, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:image_items, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :image_item, url(:image_items, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'image_items/form', :locals => { :f => f } %>
 <% end %>
</div>
