<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:store_employees, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:store_employees, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :store_employee, url(:store_employees, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'store_employees/form', :locals => { :f => f } %>
 <% end %>
</div>
